* {
    margin: 0;
    padding: 0;
    color: white;
}

input, select, option {
    color: black;
    padding: 0.5em;
    margin: 0.5em;
}

body {
    background-color: black;
}

nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid white;
}

h1 {
    font-family: 'Recursive', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-center {
    height: 100vh;
    justify-content: center;
}

p, a, label, h1, h2, small {
    font-family: 'Raleway', sans-serif;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

#profile p, a {
    margin: 0.5em;
}

.tapRow, .eventRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1em;
}

.black {
    background-color: black;
}

.grey {
    background-color: rgb(55, 55, 55);
}

.redText {
    color: red;
}

.tapName, .eventTitle {
    font-size: 1em;
    margin-left: 1em;
}

button, .controls a {
    background-color: black;
    border: 1px solid white;
    border-radius: 0.25em;
    padding: 0.25em;
    text-decoration: none;
}

#time-control {
    display: flex;
    justify-content: center;
    width: 100%;
}

#time-control button {
    margin: 0.25em;
}

.danger {
    background-color: red;
    color: black;
    margin-top: 3em;
}

#newtap, #edittap, #newevent, #editevent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    width: 50%;
}

#description {
    color: black;
    width: 100%;
}

#eventtitle, #eventlink, #ticketlink {
    width: 25em;
}

small {
    font-size: 0.7em;
    text-align: center;
}

@media only screen and (max-width: 730px) {
    nav {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header {
        height: 10em;
        align-items: flex-end;
    }

    header h1 {
        font-size: 1.25em;
        margin-bottom: 1em;
    }

    #profile {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .tapName {
        font-size: 0.8em;
        margin-left: 0.5em;
    }

    button {
        font-size: 0.8em;
        padding: 0.5em;
    }
}